.logo1{
    width: 5%;
}
.logo2{
    width: 10%;
}
nav ul a{
    font-size: xx-large;
    border: 1px solid black;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    border: 1px solid black;
    width: 100%;
}